force-app/main/default/flows/Envia_para_o_servico_os_campos_alterados_de_conta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>ChangeBaseAPI.FieldsAlter</description>
        <name>AlterFildsAPI</name>
        <label>AlterFildsAPI</label>
        <locationX>685</locationX>
        <locationY>590</locationY>
        <actionName>ChangeBaseAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LtsAccount</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matricula</name>
            <value>
                <elementReference>$Record.Registration__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeAPISession</name>
            <value>
                <elementReference>TypeAPISession</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>TypeAPISessionAtribuicao</name>
        <label>TypeAPISessionAtribuicao</label>
        <locationX>679</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>TypeAPISession</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addInfoOpcaoCorrespondencia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AlterFildsAPI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isConditionTrue</name>
        <label>isConditionTrue</label>
        <locationX>668</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>verifyInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOpcaoCorrespondencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TypeAPISessionAtribuicao</targetReference>
            </connector>
            <label>verifyInformation</label>
        </rules>
    </decisions>
    <description>Só corresponde a integração opçoes de correspondencias.</description>
    <environments>Default</environments>
    <formulas>
        <name>addInfoOpcaoCorrespondencia</name>
        <dataType>String</dataType>
        <expression>IF({!isOpcaoCorrespondencia}, &quot;OpcaoCorrespondencia;&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>isOpcaoCorrespondencia</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(ISCHANGED( {!$Record.Income_Tax_Statement__c}), ISCHANGED( {!$Record.Card_Benefits_Club__c}),ISCHANGED( {!$Record.Other_Promotional_Info__c}),ISCHANGED( {!$Record.Info_Previ__c}),ISCHANGED( {!$Record.Other_Institutional_Info__c
})),true,false)</expression>
    </formulas>
    <interviewLabel>Envia_para_o_servico_os_campos_alterados_de_conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envia_para_o_servico_os_campos_alterados_de_conta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>isConditionTrue</targetReference>
        </connector>
        <filterFormula>IF(OR( ISCHANGED( {!$Record.Income_Tax_Statement__c}), ISCHANGED( {!$Record.Card_Benefits_Club__c}),ISCHANGED( {!$Record.Other_Promotional_Info__c}),ISCHANGED( {!$Record.Info_PREVI__c}),ISCHANGED( {!$Record.Other_Institutional_Info__c}
)),true,false)</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TypeAPISession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
