force-app/main/default/flows/Flow_Reiteracao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Caso_Encontrado</name>
        <label>Caso Encontrado?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Não Encontrado</defaultConnectorLabel>
        <rules>
            <name>Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases_Mesma_Origem_Assunto_e_Data_de_Criacao_Atende.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DataCriacaoAte7Dias</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Reiteracao_Caso_Existente</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DataCriacaoAte7Dias</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(NOW()) - 7</expression>
    </formulas>
    <interviewLabel>Flow Reiteracao {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Reiteracao</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases_Mesma_Origem_Assunto_e_Data_de_Criacao_Atende</name>
        <label>Get Cases Mesma Origem, Assunto e Data de Criacao Atende</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caso_Encontrado</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 9) AND 8</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fechado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DataCriacaoAte7Dias</elementReference>
            </value>
        </filters>
        <filters>
            <field>Producty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Producty__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeFaleConosco</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Registration__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MatriculaFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MatriculaFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases_Mesma_Origem_Assunto_e_Data_de_Criacao_Atende</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fale Conosco</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeFaleConosco</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Reiteracao_Caso_Existente</name>
        <label>Atualiza Reiteracao Caso Existente</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cases_Mesma_Origem_Assunto_e_Data_de_Criacao_Atende.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reiteracao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
        <filterFormula>AND(
    ISPICKVAL({!$Record.Status}, &apos;New&apos;),
    ISPICKVAL({!$Record.Origin}, &apos;Web&apos;),
    {!$Record.RecordType.Name} = &apos;Fale Conosco&apos;,
    NOT(ISNULL({!$Record.Registration__c})),
    NOT(ISPICKVAL({!$Record.Producty__c}, &apos;&apos;))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordTypeFaleConosco</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
