force-app/main/default/flows/SLA_Gerat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificacao_Aprovacao_Pendente</name>
        <label>Notificação Aprovação Pendente</label>
        <locationX>4538</locationX>
        <locationY>1175</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Caso n.º {!$Record.CaseNumber} pendente de aprovação.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Caso n.º {!$Record.CaseNumber} pendente de aprovação.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>idFilaAprovadoresArea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submeter_Caso_Aprovacao</name>
        <label>Submeter Caso à Aprovação</label>
        <locationX>4538</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Notificacao_Aprovacao_Pendente</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>ApprovalProcessId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Atribui_Id_Fila_Aprovadores</name>
        <label>Atribui Id Fila Aprovadores</label>
        <locationX>4538</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ApprovalProcessId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IDs_Approval_Process.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idFilaAprovadoresArea</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fila_Aprovadores_Area.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submeter_Caso_Aprovacao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Data_de_Protocolo_foi_preenchida</name>
        <label>Data de Protocolo foi preenchida?</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Não preenchida</defaultConnectorLabel>
        <rules>
            <name>Preenchida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_de_Protocolo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_Data_de_Protocolo7</targetReference>
            </connector>
            <label>Preenchida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_de_Protocolo_foi_preenchida1</name>
        <label>Data de Protocolo foi preenchida?</label>
        <locationX>1766</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Não preenchida</defaultConnectorLabel>
        <rules>
            <name>Preenchida1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_de_Protocolo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_Data_de_Protocolo8</targetReference>
            </connector>
            <label>Preenchida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_Is_Null</name>
        <label>Entitlement is null?</label>
        <locationX>2096</locationX>
        <locationY>1307</locationY>
        <defaultConnector>
            <targetReference>Owner_is_changed_from_Queue_to_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Entitlement</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_is_changed_from_Queue_to_User</name>
        <label>Owner is changed from Queue to User?</label>
        <locationX>2096</locationX>
        <locationY>1643</locationY>
        <defaultConnectorLabel>NOT Is Changed to USER</defaultConnectorLabel>
        <rules>
            <name>Is_Changed_To_USER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Em_Andamento</targetReference>
            </connector>
            <label>Is Changed To USER</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_Data</name>
        <label>Qual Data?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Preenche_Data_de_Protocolo1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AMANHÃ</defaultConnectorLabel>
        <rules>
            <name>HOJE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SAMEDAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_Data_de_Protocolo</targetReference>
            </connector>
            <label>HOJE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_Data1</name>
        <label>Qual Data?</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Preenche_Data_de_Protocolo3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AMANHÃ</defaultConnectorLabel>
        <rules>
            <name>HOJE1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SAMEDAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_Data_de_Protocolo2</targetReference>
            </connector>
            <label>HOJE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_Origem</name>
        <label>Qual Origem?</label>
        <locationX>2096</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fale_Conosco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qual_Data</targetReference>
            </connector>
            <label>Fale Conosco</label>
        </rules>
        <rules>
            <name>E_mail_Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-mail Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_de_Protocolo_foi_preenchida</targetReference>
            </connector>
            <label>E-mail Manual</label>
        </rules>
        <rules>
            <name>E_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qual_Data1</targetReference>
            </connector>
            <label>E-mail</label>
        </rules>
        <rules>
            <name>Carta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_de_Protocolo_foi_preenchida1</targetReference>
            </connector>
            <label>Carta</label>
        </rules>
        <rules>
            <name>Telefone_0800</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telefone 0800</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Preenche_Data_de_Protocolo6</targetReference>
            </connector>
            <label>Telefone 0800</label>
        </rules>
        <rules>
            <name>Telefone_Ramal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telefone Ramal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Preenche_Data_de_Protocolo6</targetReference>
            </connector>
            <label>Telefone Ramal</label>
        </rules>
        <rules>
            <name>Evento_Externo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evento Externo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_Data_de_Protocolo6</targetReference>
            </connector>
            <label>Evento Externo</label>
        </rules>
        <rules>
            <name>Supervisao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisão</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Preenche_Data_de_Protocolo6</targetReference>
            </connector>
            <label>Supervisão</label>
        </rules>
        <rules>
            <name>Ativo_Telefonico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo Telefônico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Preenche_Data_de_Protocolo6</targetReference>
            </connector>
            <label>Ativo Telefônico</label>
        </rules>
        <rules>
            <name>Consultoria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Preenche_Data_de_Protocolo6</targetReference>
            </connector>
            <label>Consultoria</label>
        </rules>
        <rules>
            <name>Presencial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presencial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_Data_de_Protocolo9</targetReference>
            </connector>
            <label>Presencial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_Status</name>
        <label>Qual Status?</label>
        <locationX>3581</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qual_Origem</targetReference>
            </connector>
            <label>Novo</label>
        </rules>
        <rules>
            <name>Em_Andamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em Andamento</stringValue>
                </rightValue>
            </conditions>
            <label>Em Andamento</label>
        </rules>
        <rules>
            <name>Aguardando_2Nivel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando 2° nível</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Status_Analise_Concluida</targetReference>
            </connector>
            <label>Aguardando 2º Nível</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Status_Analise_Concluida</name>
        <label>Sub-Status Análise Concluída?</label>
        <locationX>4670</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Analise_Concluida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Análise Concluída</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IDs_Approval_Process</targetReference>
            </connector>
            <label>Análise Concluída</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SAMEDAY</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(DATEVALUE({!$Record.CreatedDate})), MONTH(DATEVALUE({!$Record.CreatedDate})), DAY(DATEVALUE({!$Record.CreatedDate})))) +0 + 21/24</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(VALUE( MID( TEXT( {!$Record.CreatedDate} - 03 ), 12, 2 ) ) &lt; 21,
VALUE( MID( TEXT( {!$Record.CreatedDate} - 03 ), 12, 2 ) ) = 21, VALUE( MID( TEXT( {!$Record.CreatedDate} - 03 ), 15, 2 ) ) = 00), true, false
)</expression>
    </formulas>
    <formulas>
        <name>TODAYDATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TODAYHOUR</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(DATEVALUE({!$Record.CreatedDate})), MONTH(DATEVALUE({!$Record.CreatedDate})), DAY(DATEVALUE({!$Record.CreatedDate})))) +0 + 26.99/24</expression>
    </formulas>
    <formulas>
        <name>TODAYHOURMANUAL</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(DATEVALUE({!$Record.Data_de_Protocolo__c})), MONTH(DATEVALUE({!$Record.Data_de_Protocolo__c})), DAY(DATEVALUE({!$Record.Data_de_Protocolo__c})))) +0 + 26.99/24</expression>
    </formulas>
    <formulas>
        <name>TOMORROWHOUR</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(DATEVALUE({!$Record.CreatedDate})), MONTH(DATEVALUE({!$Record.CreatedDate})), DAY(DATEVALUE({!$Record.CreatedDate})))) +1 + 26.99/24</expression>
    </formulas>
    <interviewLabel>SLA Gerat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLA Gerat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type_Id</name>
        <label>Get Custom Notification Type Id</label>
        <locationX>4538</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fila_Aprovadores_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovacao_Pendente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>2096</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement_Is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Atendimento Gerat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fila_Aprovadores_Area</name>
        <label>Get Fila Aprovadores Area</label>
        <locationX>4538</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_Id_Fila_Aprovadores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Aprovadores</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>$Record.Occupation_area__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IDs_Approval_Process</name>
        <label>Get IDs Approval Process</label>
        <locationX>4538</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Aprovacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>$Record.Occupation_area__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get Record Type</label>
        <locationX>2096</locationX>
        <locationY>1067</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_First_Entitlement</name>
        <label>Assign First Entitlement</label>
        <locationX>1964</locationX>
        <locationY>1427</locationY>
        <connector>
            <targetReference>Owner_is_changed_from_Queue_to_User</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TODAYHOUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo1</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TOMORROWHOUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo2</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Preenche_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TODAYHOUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo3</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Preenche_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TOMORROWHOUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo6</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Preenche_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TODAYHOUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo7</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Preenche_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TODAYHOURMANUAL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo8</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Preenche_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TODAYHOURMANUAL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preenche_Data_de_Protocolo9</name>
        <label>Preenche Data de Protocolo</label>
        <locationX>3746</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_de_Protocolo__c</field>
            <value>
                <elementReference>TODAYHOUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Se o Campo Subject (Assunto) não foi preenchido, deve receber o mesmo valor do Campo Produto, conforme CARD 563.</description>
        <name>Preenche_Subject</name>
        <label>Preenche Subject</label>
        <locationX>2690</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Producty__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Em_Andamento</name>
        <label>Status Em Andamento</label>
        <locationX>1964</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3455</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Qual_Status</targetReference>
        </connector>
        <filterFormula>AND(
    OR(
        {!$Record.RecordType.DeveloperName} = &apos;Atendimento&apos;,
        {!$Record.RecordType.DeveloperName} = &apos;Fale_Conosco&apos;
    ), 
    NOT(ISPICKVAL({!$Record.Status}, &apos;Fechado&apos;))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionIdFilasAprovadores</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_CaseMilestones_Of_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>FilaRetornoGERAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idFilaAprovadoresArea</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
