force-app/main/default/flows/Update_2o_Case_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FlowNowSchedule</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE(YEAR(DATEVALUE({!$Flow.CurrentDateTime})), MONTH(DATEVALUE({!$Flow.CurrentDateTime})), DAY(DATEVALUE({!$Flow.CurrentDateTime})))) +0 + 26.99/24</expression>
    </formulas>
    <interviewLabel>Update 2o Case Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update 2o Case Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Milestone</name>
        <label>Get Case Milestone</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Start_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <sortField>TargetDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Prev_Resposta</name>
        <label>Atualiza Prev Resposta</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Prev_Resposta__c</field>
            <value>
                <elementReference>Get_Case_Milestone.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Start_Time</name>
        <label>Update Start Time</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Atualiza_Prev_Resposta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Milestone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>FlowNowSchedule</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
    OR(
        {!$Record.RecordType.DeveloperName} = &apos;Atendimento&apos;,
        {!$Record.RecordType.DeveloperName} = &apos;Fale_Conosco&apos;
    ), 
    ISPICKVAL({!$Record.Status}, &apos;Aguardando 2° nível&apos;),
    ISPICKVAL({!$Record.Sub_Status__c}, &apos;Enviado&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Update_StartTime</name>
            <connector>
                <targetReference>Get_Case_Milestone</targetReference>
            </connector>
            <label>Update StartTime</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
