force-app/main/default/flows/Update_Venciemnto_Prazo_Legal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Venciemnto Prazo Legal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vencimento Prazo Legal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Milestone_Prazo_Legal</name>
        <label>Get Milestone Prazo Legal</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Preenche_Vencimento_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Preenche_Vencimento_Legal</name>
        <label>Preenche Vencimento Legal</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Vencimento_Prazo_Legal__c</field>
            <value>
                <elementReference>Get_Milestone_Prazo_Legal.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>AND(
    OR(
        {!$Record.RecordType.DeveloperName} = &apos;Atendimento&apos;,
        {!$Record.RecordType.DeveloperName} = &apos;Fale_Conosco&apos;
    ), 
    ISPICKVAL({!$Record.Status}, &apos;New&apos;),
   NOT(ISNULL({!$Record.EntitlementId}))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Vencimento_Legal</name>
            <connector>
                <targetReference>Get_Milestone_Prazo_Legal</targetReference>
            </connector>
            <label>Vencimento Legal</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
